.coverage
*.ipynb_checkpoints
.idea
cmake-build*
Makefile
PyMatching2.cbp
Testing/
_deps/
*.cmake
ENV
circuits
notes
dist
CMakeFiles
CMakeCache.txt
lib/
out/
perf.data
perf.data.old
*.egg-info/
__pycache__
_skbuild
*.so
bazel-*
docs/DOCS_ENV
docs/sphinx_docs/build
data/DATA_ENV
build
build.ninja
.ninja_deps
.ninja_log
.clwb
